body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}
.header {
    background: #87509c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.header img {
    margin: 0 10%;
    width: 122px;
    height: 45px;
}
.header_navigation ul {
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}
.header_navigation li {
    display: inline-block;
    padding: 15px;
    color: #ffffff;
}
.header_navigation li:hover {
    transform: scale(1.1);
    background: #643a79;
    border-radius: 10px;
    transition: background-color, transform 0.5s ease;
}
.prices {
    text-align: center;
    font-size: 20px;
}
.prices h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 46px;
    text-transform: uppercase;
}
.prices h2 span {
    color: #00a99d;
}
.slash {
    width: 87px;
    height: 4px;
    background-color: #000000;
    opacity: 0.15;
    margin: 10px auto 20px;
}
.prices_wrap {
    margin: 0 10%;
    color: #8a8a8a;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.block {
    width: 270px;
    border: solid 1px #dedede;
    border-radius: 3px;
    margin: 20px;
}
.block_plan {
    width: 138px;
    height: 40px;
    background-color: #383838;
    color: white;
    font-size: 13px;
    font-weight: 400;
    border-radius: 3px;
    text-align: center;
    margin: -22px auto 22px
}
.block_plan span {
    display: block;
    padding: 8px;
}
.premium {
    background-color: #00a99d;
}
.advanced {
    width: 191px;
}
.fas {
    color: #00a99d;
}
.price {
    font-size: 55px;
    font-weight: 400;
    color: black;
}
.price span {
    color: #8a8a8a;
    font-size: 16px;
    font-weight: 500;
}
.price_slash {
    width: 228px;
    height: 1px;
    background-color: #ebebeb;
    margin: 20px auto;
}
.block ul {
    list-style-type: none;
    padding: 0;
}
.block li {
    font-size: 17px;
    font-weight: 500;
    line-height: 40px;
}
.block button {
    width: 118px;
    height: 39px;
    background-color: #00a99d;
    color: white;
    font-size: 13px;
    font-weight: 400;
    border: none;
    border-radius: 3px;
    margin: 0 auto 20px;
}
.block button:hover {
    background-color: #17716b;
}
.client_wrap {
    background-color: #f2f1f1;
    text-align: center;
}
.client_wrap h2 {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    color: #828181;
    padding: 15px;
    margin: unset;
}
.client_wrap p {
    color: #b7b3b3;
    font-size: 20px;
}
.client_wrap .slash {
    width: 87px;
    height: 4px;
    background-color: #000000;
    opacity: 0.15;
    margin: 0px auto 20px;
}
.img_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px;
    align-items: center;
    margin: 0 auto;
}
.img_wrap div {
    margin: 40px;
}

.footer {
    background: #87509c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer p {
    margin: unset;
    padding: 28px;
    color: white;
}
.footer ul {
    list-style-type: none;
}
.footer li {
    display: inline-block;
    margin: 10px;
}
@media all and (max-width: 800px){
    .header {
        flex-direction: column;
    }
    .header_navigation ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .header img {
        margin-top: 30px;
    }
    .footer {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer ul {
        padding: 0;
    }
}
@media all and (max-width: 360px){
    .img_wrap div {
        margin: 10px;
    }
}
@media all and (max-width: 320px) {
    .img_wrap div {
        margin: 15px auto;
    }
}
